####################################################################
# WhiteSource FS-Agent configuration file
####################################################################
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
offline=false
log.level=debug
wss.url=https://app-eu.whitesourcesoftware.com/agent
#wss.url=https://app.whitesourcesoftware.com/agent
#wss.url=https://staging.whitesourcesoftware.com/agent
#wss.url=https://localhost:8089/agent
#wss.url=https://localhost:8089/agent
 
#ignoreJavaScriptFiles=false
#projectPerFolder=true

#------------------------- EUA
enableImpactAnalysis=true 
maven.aggregateModules=true
gradle.aggregateModules=true
maven.ignoredScopes=All
requireKnownSha1=false
npm.includeDevDependencies=true


html.resolveDependencies=false
bower.resolveDependencies=false
python.resolveDependencies=false
nuget.resolveDependencies=false
paket.resolveDependencies=false
go.resolveDependencies=false
ruby.resolveDependencies=false
php.resolveDependencies=false
sbt.resolveDependencies=false
cocoapods.resolveDependencies=false
hex.resolveDependencies=false
npm.resolveDependencies=true
maven.resolveDependencies=true
gradle.resolveDependencies=true
npm.ignoreNpmLsErrors=true
npm.resolveMainPackageJsonOnly=true
#------------------------- EUA

#maven.ignoredScopes=All
#wss.connectionTimeoutMinutes=60
npm.resolveDependencies=true

html.resolveDependencies=false
bower.resolveDependencies=false
python.resolveDependencies=false
nuget.resolveDependencies=false
paket.resolveDependencies=false
go.resolveDependencies=false
ruby.resolveDependencies=false
php.resolveDependencies=false
sbt.resolveDependencies=false
cocoapods.resolveDependencies=false
hex.resolveDependencies=false




html.resolveDependencies=false
python.resolveDependencies=false
nuget.resolveDependencies=false

#bower.resolveDependencies=false
##################################
# Organization tokens:
##################################
#dev
#apiKey=884335f859fe4ab8aa714b7afdba86e7cae9d96975a44d84aaf604cc3d20deb0
#apiKey=ab32e75eddb84945b5bcf99e72fbd7fa22546e3f49b44158a87203815d0ab992 
#app
#apiKey=3464d9e12ad843af8ab546ad8db585cc620627fda1aa45b2972e6956e024629e 
#saas
apiKey=e43040f781414e2d8ee6000afb9052764861eb02493640d89574d1112dce7b33


#apiKey=845c6d49-ecb4-44c0-a8c8-23fa624a27c1

#staging
#apiKey=e7dbf836a30447cea7ad1c894ebfbfc731cbefe3296b45d980246c11cdfd76f7
#localhost
#apiKey=2717bb6e64c3446088916260a9896fcf37483332c4bb4ab9b77b5229b6773c0c 
projectName=Effective_Usage_Demo_9
projectVersion=
projectToken=

productName=Effective_Usage_Demo_9
productVersion=
productToken=
#updateType=APPEND
#requesterEmail=user@provider.com

#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
#includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx **/*.js
#includes=**/*.m **/*.mm  **/*.js **/*.php
includes=**/*.jar **/*.js  
#includes=**/*.jar  
#includes=**/*.gem **/*.rb
#includes=**/*.dll **/*.cs **/*.c#  **/*.csharp
#includes=**/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2
#includes=**/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py
excludes=**/*sources.jar **/*javadoc.jar
case.sensitive.glob=false
followSymbolicLinks=true

##################################
# Archive Properties
##################################
#archiveExtractionDepth=2
#archiveIncludes=**/*.war **/*.ear
#archiveExcludes=**/*sources.jar

##################################
# Proxy settings
##################################
#proxy.host=
#proxy.port=
#proxy.user=
#proxy.pass=

##################################
# SCM settings
##################################
#scm.type=
#scm.user=
#scm.pass=
#scm.ppk=
#scm.url=
#scm.branch=
#scm.tag=
